/* You can add global styles to this file, and also import other style files */

@import "./app/angular-university/angular-university.module.scss";
// @import "./app/angular-university/ngrx-in-depth/ngrx-in-depth.module.scss";
