<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center">NG Sandbox</h1>
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item"><a class="nav-link" routerLink="/angular-university">Angular University</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/breeze-js">BreezeJS</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/caminte">Caminte</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/loopback">Loopback</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/ng7-book">Ng7 Book</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/type-orm">TypeORM</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/ultimate-angular">Ultimate Angular</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col"><router-outlet></router-outlet></div>
    </div>
</div>
