<button (click)="destroyComponent()">Destroy</button>
<button (click)="moveComponent()">Move</button>
<div>
    <!--
    <auth-form (submitted)="createUser($event)">
        <h3>Create account</h3>
        <button type="submit">Join Us</button>
    </auth-form>
    -->
    <!--
    <auth-form (submitted)="loginUser($event)">
        <app-auth-remember (checked)="onChecked($event)"></app-auth-remember>
        <app-auth-remember (checked)="onChecked($event)"></app-auth-remember>
        <app-auth-remember (checked)="onChecked($event)"></app-auth-remember>
    </auth-form>
    -->
    <!-- <div #entry></div> -->
    <ng-container [ngTemplateOutlet]="tmpl" [ngTemplateOutletContext]="ctx"> </ng-container>
    <!-- name is the $implicit value, because it is not bound to a specific property -->
    <ng-template #tmpl let-name let-location="location">{{ name }} - {{ location }}</ng-template>
    <!-- <ng-template #tmpl>Phil Boyd - Columbus GA</ng-template> -->
</div>
