<button (click)="destroyComponent()">Destroy</button>
<button (click)="moveComponent()">Move</button>
<div>
    <!--
    <auth-form (submitted)="createUser($event)">
        <h3>Create account</h3>
        <button type="submit">Join Us</button>
    </auth-form>
    -->
    <!--
    <auth-form (submitted)="loginUser($event)">
        <app-auth-remember (checked)="onChecked($event)"></app-auth-remember>
        <app-auth-remember (checked)="onChecked($event)"></app-auth-remember>
        <app-auth-remember (checked)="onChecked($event)"></app-auth-remember>
    </auth-form>
    -->
    <div #entry></div>
</div>
